manifest {
    mainScript = 'sra-dump.nf'
}

params { 
  output = "results/"
} 

process {
    publishDir = [path: params.output, mode: 'copy', overwrite: 'true']
} 

profiles {
    crg {
        process {
          executor='crg'
          queue='long-sl65'
          memory='8G'
          cpus='1'
        }
    }
}
